<section class="grid grid-cols-1 md:grid-cols-2 items-center gap-4">
  <div  class="mt-12">
    <h1 class="text-4xl md:text-6xl text-primary">Making Your Business Ideas <span class="font-bold ">Come True</span></h1>
    <p class=" mt-4 md:mt-8 text-secondary text-xl md:text-2xl">We provide business with all financial services including analysis of the enterprise</p>
    <div class="mt-4 md:mt-8">
   <button class="bg-primary text-basic_white py-2 px-8 rounded hover:opacity-75">Read More</button>
    </div>
  </div>
  <div>
    <img alt="hero image" src="../assets/hero.svg" />
  </div>
</section>