<section class="grid grid-cols-1 md:grid-cols-2 items-center gap-12 mt-24  px-6 md:px-24">
<div>
  <img alt="start img" src="../assets/start.svg"/>
</div>
<div>
  <div class="py-4">
    <h3 class="text-primary text-xl font-bold">01. Startups</h3>
    <p class="text-secondary text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corporis sunt voluptatibus molestias assumenda beatae fugit aperiam, necessitatibus, consequatur, ipsa quaerat doloremque praesentium optio accusamus quisquam! Mollitia, totam. Asperiores, temporibus?
    </p>
  </div>
   <div class="py-4">
    <h3 class="text-primary text-xl font-bold">02. Anti-crisis</h3>
    <p class="text-secondary text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corporis sunt voluptatibus molestias assumenda beatae fugit aperiam, necessitatibus, consequatur, ipsa quaerat doloremque praesentium optio accusamus quisquam! Mollitia, totam. Asperiores, temporibus?
    </p>
  </div>
   <div class="py-4">
    <h3 class="text-primary text-xl font-bold">03. Finance</h3>
    <p class="text-secondary text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corporis sunt voluptatibus molestias assumenda beatae fugit aperiam, necessitatibus, consequatur, ipsa quaerat doloremque praesentium optio accusamus quisquam! Mollitia, totam. Asperiores, temporibus?
    </p>
  </div>
</div>
</section>