<section class="px-6 md:px-24 mt-8 grid grid-cols-1 md:grid-cols-4 gap-6">
<div class="shadow-sm max-w-sm relative">
  <img alt="team member" src="https://bit.ly/dan-abramov" class="w-full rounded-lg"/>
  <div class="px-24 flex justify-center items-center">
  <div class="bg-basic_white border-2 border-primary rounded-full shadow-sm  py-2 absolute bottom-2 w-4/5 flex flex-col justify-center items-center">
    <h1 class="text-primary text-xl font-bold">Dan Nwaba</h1>
    <p class="text-secondary text-base">Head of Engineering</p>
  </div>
  </div>
</div>

<div class="shadow-sm max-w-sm relative">
  <img alt="team member" src="https://bit.ly/ryan-florence" class="w-full rounded-lg"/>
  <div class="px-24 flex justify-center items-center">
  <div class="bg-basic_white border-2 border-primary rounded-full shadow-sm  py-2 absolute bottom-2 w-4/5 flex flex-col justify-center items-center">
    <h1 class="text-primary text-xl font-bold">Chris Abanaya</h1>
    <p class="text-secondary text-base">Head of Marketing</p>
  </div>
  </div>
</div>

<div class="shadow-sm max-w-sm relative">
  <img alt="team member" src="https://bit.ly/prosper-baba" class="w-full rounded-lg"/>
  <div class="px-24 flex justify-center items-center">
  <div class="bg-basic_white border-2 border-primary rounded-full shadow-sm  py-2 absolute bottom-2 w-4/5 flex flex-col justify-center items-center">
    <h1 class="text-primary text-xl font-bold">Baba Laravel</h1>
    <p class="text-secondary text-base">Team Lead</p>
  </div>
  </div>
</div>

<div class="shadow-sm max-w-sm relative">
  <img alt="team member" src="https://bit.ly/code-beast" class="w-full rounded-lg"/>
  <div class="px-24 flex justify-center items-center">
  <div class="bg-basic_white border-2 border-primary rounded-full shadow-sm  py-2 absolute bottom-2 w-4/5 flex flex-col justify-center items-center">
    <h1 class="text-primary text-xl font-bold">Chakra</h1>
    <p class="text-secondary text-base">Head of Engineering II</p>
  </div>
  </div>
</div>

<div class="shadow-sm max-w-sm relative">
  <img alt="team member" src="https://bit.ly/sage-adebayo" class="w-full rounded-lg"/>
  <div class="px-24 flex justify-center items-center">
  <div class="bg-basic_white border-2 border-primary rounded-full shadow-sm  py-2 absolute bottom-2 w-4/5 flex flex-col justify-center items-center">
    <h1 class="text-primary text-xl font-bold">Wale</h1>
    <p class="text-secondary text-base">DevRel Engr</p>
  </div>
  </div>
</div>

<div class="shadow-sm max-w-sm relative">
  <img alt="team member" src="https://bit.ly/ryan-florence" class="w-full rounded-lg"/>
  <div class="px-24 flex justify-center items-center">
  <div class="bg-basic_white border-2 border-primary rounded-full shadow-sm  py-2 absolute bottom-2 w-4/5 flex flex-col justify-center items-center">
    <h1 class="text-primary text-xl font-bold">Timo Werner</h1>
    <p class="text-secondary text-base">Head of Design</p>
  </div>
  </div>
</div>

<div class="shadow-sm max-w-sm relative">
  <img alt="team member" src="https://bit.ly/kent-c-dodds" class="w-full rounded-lg"/>
  <div class="px-24 flex justify-center items-center">
  <div class="bg-basic_white border-2 border-primary rounded-full shadow-sm  py-2 absolute bottom-2 w-4/5 flex flex-col justify-center items-center">
    <h1 class="text-primary text-xl font-bold">Kent Remix</h1>
    <p class="text-secondary text-base">Head of Sales</p>
  </div>
  </div>
</div>
</section>